

.whiteText {
  color: white;
}
.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.facultyImage {
  width:327px; 
  height: auto;
  margin: 20px auto; 
  border-radius: 6%;

}
.centeredContainer p {
  text-align: left;
}

.facultyImage2 {
  max-width: 100%; /* Изображение не будет шире контейнера */
  height: auto; /* Сохранит пропорции изображения */
  margin-right: 10px;
  border-radius: 6%;
}

/* Применение стилей только для экранов с шириной до 1740px */
@media (max-width: 1740px) {
  .facultyImage2 {
    width: 100%; /* Изображение займет всю ширину контейнера */
    max-width: none; /* Снимаем ограничение максимальной ширины */
  }
}
.personInfo {
  display: flex;
  align-items: flex-start; 
  margin-bottom: 20px; 
}

.personText {
  flex: 1; 
  text-align: left; 
}
.facultyImage4 {
  width: 211px;
  height: auto;
  margin-left: 20px; 
  border-radius: 6%;
}