/* styles.css */

/* Общие стили для компонентов и страницы */
.student-life-screen {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  @import './fonts.css';

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212940;
  font-family: 'TT Travels', sans-serif;
  color: white;
}

  /* Стили для StudentCouncilSection */
  .studentcouncilsection {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Стили для StudentUnionSection */
  .student-union-section {
    margin-bottom: 30px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Дополнительные стили, если необходимо */
  .title1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }